.input--common, .button--common {
  padding: 10px 15px;
  margin: 0 10px;
  border: 1px solid #007;
}

.button--common {
  background-color: #fafafa;
}

.button--common:hover {
  cursor: pointer;
}

.button--common:disabled {
  cursor: default;
  opacity: .6;
  border: 1px solid transparent;
}

.flex-column {
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
}

.flex-row {
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-grow: 1;
}

.light {
  color: #999;
}